.about {
    padding: 160px 0 60px;
    background-color: var(--co-white);
}


.about__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__title {
    font-size: 50px;
    font-weight: 700;
    color: var(--co-green);
    max-width: 500px;
    position: relative;
}

.about__title:before {
    content: "How it works";
    position: absolute;
    top: -20px;
    left: 0;
    color: var(--co-whiteblack);
    font-size: 24px;
    font-weight: 600;
}

.about__desc {
    color: var(--co-whiteblack);
    max-width: 670px;
    font-size: 20px;
    font-weight: 500;
}

.about__cards {
    margin: 70px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
}

.about__cards .card:nth-child(2) {
    margin: 240px 0 0 0;
}

@media (max-width: 1230px) {
    .about__content {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 20px;
    }
    .about__cards {
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }
    .about__cards .card:nth-child(2) {
        margin: 40px 0 0 0;
    }
}

@media (max-width: 576px) {
    .about__content {
        padding: 0 15px;
    }
    .about__title {
        font-size: 35px;
    }
    .about__desc {
        font-size: 15px;
    }
}